<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!employee"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="employee">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ employee.firstName }} {{ employee.middleName }} {{ employee.lastName }}</td>
    </tr>
  </tbody>
</table>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="employeeNotFoundMessage">
  <tbody>
    <tr>
      <td>{{ employeeNotFoundMessage }}</td>
    </tr>
  </tbody>
</table>
